.page-logInContent{
    .form-logIn{
    width: 500px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;  
    }
    .form-logIn-information{
        padding-top: 10px;
        padding-bottom: 20px;
    .form-row-logIn{
        width: 80%;
        position: relative;
        margin:  0 auto;
        height: auto;
        font-weight: 600;
        font-size: 15px;
        display: block;
        color:#666;
        margin-bottom: 8px;
        padding-top: 10px;
            input{ 
                width: 100%;
                padding: 11.5px 30px;
                margin-bottom: 10px;
                font-size: 15px;
                box-sizing: border-box;
                border: solid 1px #ccc;
            }
        }  
        
    }
    .logIn-button{
        text-align: center;
        margin-bottom: 10px;
        button{
        padding:5px 35px;
        border-radius: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        &:hover{
            background-color: #666;
            border: none;
        }
        }
        }
}
    .logIn-cancel-button{
       text-align: center;
        button{
            border-radius: 5px;
            margin-bottom: 5px;
            cursor: pointer;
            &:hover{
                background-color: #666;
                border: none;
            }
        }
        span{
            a{
                &:hover{
                    color: red;
                }
            }
        }
      
    }
    