
.form-information {
    padding: 20px;
	position: relative;
    input[type=email],
    input[type=text],
    input[type=tel],input[type=password],textarea {
    box-sizing: border-box;
}
    .form-group{
        display: flex;
        margin:  0 -8px;
    }
    .form-row{
        width: 100%;
        position: relative;
        label{
            font-weight: 600;
            font-size: 15px;
            color: #666;
            display: block;
            margin-bottom: 8px;
        }  
        input{
            width: 100%;
            padding: 11.5px 15px;
            font-size: 15px;
            box-sizing: border-box;
        }  
    }
    .form-row-1{
        width: 100%;
        padding: 0 8px;       
    }
    
    //input-text 
    .input-text{
        margin-bottom: 20px; 
        border-radius: 5px;
        border:solid 1px #ccc;
        cursor: pointer;
        &:hover{
            background-color: #ccc;
            border-radius: 5px;
            color: #666;
        }
    }
    
    //form-checkbox,form-radio
  .form-checkbox,.form-radio{
       p{
        font-weight: 600;
        font-size: 15px;
        color: #666;
        display: block;
        margin-bottom: 10px;
       }
       label{
           font-size: 14px;
           color: #666;
       }
    }
    //form-dropdown list
    .form-dropDown{
        margin-bottom: 15px;;
        label{
         font-weight: 600;
         font-size: 15px;
         color: #666;
        }
        #dropDown{
            margin-left: .5em;
            border: solid 1px #ccc;
            width: 40%;  
            height: 2.5em;
        }
    }
    //form-fieldset,form-legend
    .form-fieldset{
        border:solid 1px #ccc;
        .form-legend{
            font-weight: 600;
            font-size: 15px;
            color: #666;
            display: block;
            margin-bottom: 10px;
        }
        i{
            font-size: 7px;
            margin: 7px;           
        }
    }
    
//    // submit-button
//     .form-row-last {
//     margin: 10px 0 10px 0;
//     .submit-cButton{
// 	border-radius: 5px;
// 	width: 130px;
// 	border: solid 1px #ccc;
//     padding: 5px;
// 	cursor: pointer;
// 	font-weight: 700;
//     font-size: 15px;
//     &:hover{
//         background-color: #666;
//     }
// }
//     }
}

//media query
@media screen and (max-width: 991px) {
    .form-content {
		margin: 180px 20px;
        flex-direction:  column;
    }
        .form-contact{
            width: auto;
        }
        .form-information {
            padding: 30px 20px 30px 20px;
            width: auto;
            
        }
        
        .form-textarea #message{
            width: 100%;
                }  
                .form-information .form-row-last .submit-cButton {
                    border-radius: 5px;
                    width: 130px;                  
                    margin: 6px 0 50px 0px;
                    padding: 5px;
                    cursor: pointer;                  
                    font-weight: 700;
                    font-size: 15px;
                }
                                    
}

@media screen and (max-width: 575px) {
    .form-contact{
        background-origin: none;
    }
.form-group {
		flex-direction: column;
		margin: 0;
	}
	
.form-row-1 {
		width: 100%;
		padding:  0;
    }
}