/* colors */
$headColor-01: #eee;
$headColor-02: #ddd;
$headColor-03: #aaa;
$headColor-04: #fff;
$headColor-05: #666;
$headColor-06:  #F5DFBB;
$main-color: #E9FFF9;
$border-color: #127475;
$qouteBackground-color:#0E9594;
$quote-color: #EEE8d6;
$form-main-color:#264653;
$form-backgraound-color:#ccc;
/* font */
// font-family: 'Nunito', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');
$basic-font:'Nunito', sans-serif;
/* icon */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');




