.dark-background {
    background-color: #000;
    color: #fff;
}

.light-background {
    background-color: rgb(196, 196, 196);
}
.cover-background {
    background-position: center;
    background-size: cover;
}

.contain-background {
    background-position: center;
    background-size: contain;
}