.dark-background {
  background-color: $black;
  color: $white;
}

.light-background {
  background-color: rgb(196, 196, 196);
}
.cover-background {
  background-position: center;
  background-size: cover;
}

.contain-background {
  background-position: center;
  background-size: contain;
}
