$lightBlue: #8ab6d2;
$darkBlue: #0c2d58;
$mutedBlue: #395579;
$greyBlue: #b5bbc6;
$attention: #bc4123;
$attentionLighter: #c35439;
$black: #000;
$white: #fff;
$backgroundLight: rgb(196, 196, 196);
$exampleColor: rgb(238, 180, 54);
$logo: #d2d7df;
