@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Raleway:wght@300;400;900&display=swap');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

//color variables
$light: #999;
$dark: #333;
$black: #000;
$white: #fff;



