@mixin bp-large {
    @media only screen and (max-width: 1000px) {
      @content;
    }
  }
  
  @mixin bp-medium {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  
  @mixin bp-small {
    @media only screen and (max-width: 400px) {
      @content;
    }
  }