// For navbar sass
/*nav bar*/
:root {
    --background: rgba(211, 211, 211, .85);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.navbar-base {
    padding: .5em;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    nav {
        list-style-type: none;
          text-align: center;
         }
      a {
        color: #555;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
      }
      ul {         
          padding: 0;
      }
      .header-nav-item{
        margin: 0;
        display: inline;
      }
      .header-nav-link {
          padding: .5em;
      }
      li a:active {
          background-color: #4CAF50;
          color: white;
      }
    
      li a:hover {
          background-color: #443322;
          color: #f1f1f1;
          text-decoration: none;
      }
}

.navbar-full {
    background-color: rgb(156, 156, 156);
    padding: .5em;
    text-align: center;
    width: 100%;
    position: relative;
    :root {
        --background: rgba(211, 211, 211, .85);
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .nav-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    
    }
    .nav-toggle {
        display: none;
    }
    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        border: none;
        height: 100%;
        display: flex;
        align-items: center;
    }
    label>span {
        :hover {
            background-color: #888;
        }
    }
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: white;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;

    }
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    
    }
    .nav-toggle-label span::before{
        bottom: 7px;
    }
    
    .nav-toggle-label span::after{
        top: 7px;
    }
    .logo {
        grid-column: 2 / 3;
        margin: 0;
        padding: 0;
    }
    nav {
        position: absolute;
        text-align: left;
        background: var(--background);
        top: 100%;
        width: 100%;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
        
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    nav li {
        
        display: block;
    }
    nav a {
        display: block;
        color: #fff;
        padding: 1em .5em;
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out 250ms;
    }
    nav a:hover {
        color: #000;
        background-color: #998;
    }
    .nav-toggle:checked ~ nav {
      transform: scale(1,1);
    }
    .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms; 
    }
    
    @media screen and (min-width: 700px) {
        .nav-toggle-label {display: none;
        }

        header {
            margin: 0;
    
        }
        .nav-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-rows: auto;
            justify-content: space-around;
            align-items: center;
            max-width: 90%;
            margin: 0 auto;
        }
        .logo {
            margin: 0;
            grid-column: 1 / 3;
            justify-self: flex-start;
        }
        nav {
            all: unset;
            grid-column: 3 / -1;
            width: 100%;
        }
        nav ul {
            display: flex;
            justify-content: space-around;
        }
        nav li {
            margin: 0 .4em;
        }
        nav a {
            opacity: 1;
            position: relative;
        }
        nav a::before {
            content: '';
            display: block;
            height: 5px;
            background: black;
            position: relative;
            left: 0;
            right: 0;
            transform: scale(0, 1);
            transition: transform ease-in-out 250ms;
        }
        nav a:hover::before {
            transform: scale(1,1);
        }
    }
    
}

.navbar-dark {
    @extend .navbar-base;
    background-color: #000;
    color: #fff;
    a {
        color: #fff;
    }
}