*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
ul,
li,
a,
p,
div,
span {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.table-01 {
  text-align: left;
  padding: 10px;
  overflow-x: auto;
}

.table-02 {
  text-align: left;
  padding: 10px;
  overflow-x: auto;
}

.table-02 th,
.table-02 td {
  border-bottom: 1px solid #bbb8b8;
}

.table-03 {
  text-align: left;
  padding: 10px;
  overflow-x: auto;
}

.table-03 tr:nth-child(even) {
  background-color: #d6d3d3;
}

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.item-left {
  float: left;
  margin: 5px;
}

.item-right {
  float: right;
  margin: 5px;
}

.image {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.wrapper-100 {
  width: 100%;
  margin: 0 auto;
}

.wrapper-90 {
  width: 90%;
  margin: 0 auto;
}

/*nav bar*/
.navbar-base, .navbar-dark {
  padding: .5em;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.navbar-base nav, .navbar-dark nav {
  list-style-type: none;
  text-align: center;
}

.navbar-base a, .navbar-dark a {
  color: #555;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.navbar-base ul, .navbar-dark ul {
  padding: 0;
}

.navbar-base .header-nav-item, .navbar-dark .header-nav-item {
  margin: 0;
  display: inline;
}

.navbar-base .header-nav-link, .navbar-dark .header-nav-link {
  padding: .5em;
}

.navbar-base li a:active, .navbar-dark li a:active {
  background-color: #4CAF50;
  color: white;
}

.navbar-base li a:hover, .navbar-dark li a:hover {
  background-color: #443322;
  color: #f1f1f1;
  text-decoration: none;
}

.navbar-dark {
  background-color: #000;
  color: #fff;
}

.navbar-dark a {
  color: #fff;
}

.grid-row {
  width: 100%;
  padding: 0 20px;
  margin: .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

@media only screen and (max-width: 360px) {
  .grid-row {
    margin: 0 !important;
  }
}

.grid-row :first-child {
  margin: 0 !important;
}

.grid-row .column-1, .grid-row .column-2, .grid-row .column-3, .grid-row .column-4 {
  float: left;
  padding: .5em 1em;
  margin-left: 2%;
  width: 23%;
}

@media only screen and (max-width: 600px) {
  .grid-row .column-1, .grid-row .column-2, .grid-row .column-3, .grid-row .column-4 {
    width: 48%;
  }
}

@media only screen and (max-width: 360px) {
  .grid-row .column-1, .grid-row .column-2, .grid-row .column-3, .grid-row .column-4 {
    width: 100%;
    margin: .5em 0;
  }
}

.grid-row .column-2 {
  width: 48%;
}

@media only screen and (max-width: 600px) {
  .grid-row .column-2 {
    width: 48%;
  }
}

@media only screen and (max-width: 360px) {
  .grid-row .column-2 {
    width: 100%;
    margin: .5em 0;
  }
}

.grid-row .column-3 {
  width: 73%;
}

@media only screen and (max-width: 600px) {
  .grid-row .column-3 {
    width: 48%;
  }
}

@media only screen and (max-width: 360px) {
  .grid-row .column-3 {
    width: 100%;
    margin: .5em 0;
  }
}

.grid-row .column-4 {
  width: 98%;
}

@media only screen and (max-width: 360px) {
  .grid-row .column-4 {
    width: 100%;
    margin: .5em 0;
  }
}

.grid-row .box-this {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #666;
}

.grid-row ::after {
  content: "";
  display: table;
  clear: both;
}

.img-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.jumbotron-100 {
  padding-top: .5em;
  width: 100%;
  height: 300px;
  background-color: #666;
}

.jumbotron-100 h1 {
  font-size: 3em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.header-big {
  font-size: 3em;
}

.header-med {
  font-size: 2em;
}

.header-sm {
  font-size: 1.5em;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.cap {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}
/*# sourceMappingURL=styles.css.map */